<div class="form-group"><label class="control-label col-sm-2">&#42; {{ 'NAME' | translate }}</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Name" required unescape ng-disabled="!$state.current.data.isNew"/></div>
</div>
<div class="form-group"><label class="control-label col-sm-2">&#42; {{ 'VALUE' | translate }}</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Value" required unescape/></div>
</div>
<div class="form-group"><label class="control-label col-sm-2">{{ 'DESCRIPTION' | translate }}</label>
    <div class="col-sm-6">
        <textarea class="form-control input-sm" rows="2" ng-maxlength="255" ng-model="model.Description" unescape></textarea>
        <small><span class="help-block m-b-none"><span class="text-info">{{ model.Description.length || 255 }}</span> / {{ '255_CHARACTERS_LEFT' | translate }}</span></small>
    </div>
</div>