*~
*.bak
*.log
*.orig
*.tmp

# Bower, Composer, Node, Sass
bower_components
vendor/
node_modules
npm-debug.log*
.sass-cache/
.tmp/
*.css.map

# Eclipse, NetBeans, PhpStorm, SublimeText, Vim
.project
.buildpath
.settings/
nbproject/
.idea/
*.cache
*.sublime-*
*.swp

# OS
._*
.DS_Store
Thumbs.db
