<dt>{{ 'DATE' | translate }}</dt>
<dd>{{ (model.CreatedAt && model.CreatedAt.date) || model.CreatedAt }}</dd>
<dt>{{ 'NAME' | translate }}</dt>
<dd>{{ model.Name }}</dd>
<dt>{{ 'ACTION' | translate }}</dt>
<dd>{{ model.Action }}</dd>
<dt>{{ 'INFORMATION' | translate }}</dt>
<dd>{{ model.Information }}</dd>
<dt>{{ 'TYPE' | translate }}</dt>
<dd>{{ model.Type }}</dd>
<dt>{{ 'IP_ADDRESS' | translate }}</dt>
<dd>{{ model.IpAddress }}</dd>
<dt>{{ 'REQUEST' | translate }}</dt>
<dd>{{ model.Request }}</dd>
<dt>{{ 'PARAMETERS' | translate }}</dt>
<dd>{{ model.Params }}</dd>
<dt>{{ 'REFERRER' | translate }}</dt>
<dd>{{ model.Referrer }}</dd>