<!-- header & navigation -->
<div id="header" ng-include="'views/common/header.html'"></div>
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>
<!-- wrapper -->
<div id="wrapper">
    <div small-header class="normalheader transition">
        <div class="hpanel" tour-step order="1" placement="bottom" title="Page header"
        content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size.">
            <div class="panel-body">
                <a ng-click="small()" href=""><div class="clip-header"><i class="fa fa-arrow-up"></i></div></a>
                <div id="hbreadcrumb" class="pull-right m-t-lg"><ol class="hbreadcrumb breadcrumb">
                    <li ng-repeat="state in $state.$current.path" ng-switch="$last || !!state.abstract" ng-class="{ active: $last }">
                        <a ng-switch-when="false" href="#{{ state.url.format($stateParams) }}">{{ state.data.pageTitle | translate }}</a>
                        <span ng-switch-when="true">{{ state.data.pageTitle | translate }}</span>
                    </li>
                </ol></div>
                <h2 class="font-light m-b-xs">{{ $state.current.data.pageTitle | translate }}</h2>
                <small>{{ $state.current.data.pageDesc | translate }}</small>
            </div>
        </div>
    </div>
    <div class="content">
        <div ui-view animate-panel></div>
    </div>
</div>