<div class="color-line"></div>
<div id="logo" class="light-version"><span>ADMIN PANEL</span></div>
<!-- navigation -->
<nav role="navigation">
    <minimaliza-menu></minimaliza-menu>
    <!--form action="#" method="post" class="navbar-form-custom" role="search"><div class="form-group">
        <input name="search" type="text" class="form-control" placeholder="Search something special"/>
    </div></form-->
    <div class="navbar-right"><ul class="nav navbar-nav no-borders">
        <li class="dropdown">
            <a href="" title="{{ 'CHANGE_LANGUAGE' | translate }}" class="count-info dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-globe"></i></a>
            <ul class="dropdown-menu hdropdown animated flipInX">
                <li><a ng-click="changeLanguage('en')"><span class="label">
                    <img alt="" class="flag" src="{{ 'images/flag-en.png' }}" ng-src="{{ 'images/flag-en.png' }}"/>
                </span> English</a></li>
                <li><a ng-click="changeLanguage('zh')"><span class="label">
                    <img alt="" class="flag"src="{{ 'images/flag-zh.png' }}" ng-src="{{ 'images/flag-zh.png' }}"/>
                </span> &#x4E2D;&#x6587;</a></li>
            </ul>
        </li>
        <!--li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bullhorn"></i></a>
            <ul class="dropdown-menu hdropdown notification animated flipInX">
                <li><a><span class="label label-success">NEW</span> It is a long established.</a></li>
                <li><a><span class="label label-warning">WAR</span> There are many variations.</a></li>
                <li><a><span class="label label-danger">ERR</span> Contrary to popular belief.</a></li>
                <li class="summary"><a href="#">See all notifications</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle label-menu-corner" data-toggle="dropdown">
                <i class="fa fa-comment-o"></i>
                <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu hdropdown animated flipInX">
                <div class="title">You have 4 new messages</div>
                <li><a>It is a long established.</a></li>
                <li><a>There are many variations.</a></li>
                <li><a>Lorem Ipsum is simply dummy.</a></li>
                <li><a>Contrary to popular belief.</a></li>
                <li class="summary"><a href="#">See All Messages</a></li>
            </ul>
        </li-->
        <li class="dropdown">
            <a ui-sref="logout" title="{{ 'LOGOUT' | translate }}"><i class="fa fa-sign-in"></i></a>
        </li>
    </ul></div>
</nav>